@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Space+Mono&display=swap");
@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes scale {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scale {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes translate {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes translate {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
* {
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  font-family: "Inconsolata", monospace;
}

body {
  background: rgb(49, 66, 125);
  background: linear-gradient(145deg, rgb(72, 41, 107) 5%, rgb(43, 58, 110) 100%);
  margin: 0;
  height: auto;
  color: #fff;
  scroll-behavior: smooth;
  width: 100%;
}
body h1, body h2, body h3 {
  text-align: center;
}
body h2 {
  font-size: 5rem;
  text-shadow: 3px 3px 1px #909090;
  margin-top: 3em;
}
body h3 {
  font-size: 3rem;
  text-shadow: 2px 2px 1px #909090;
}
body button {
  width: 200px;
  border: 1px solid white;
  border-radius: 5px;
  height: 40px;
  -webkit-animation: scale 4s infinite linear;
          animation: scale 4s infinite linear;
  cursor: pointer;
  background-color: #985adf;
}
body button a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

nav {
  width: 100%;
  height: auto;
  position: fixed;
}
nav ul {
  list-style: none;
  text-align: end;
}
nav ul li {
  display: inline;
  margin-right: 15px;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 600;
  padding-bottom: 7px;
}
nav ul li a:hover {
  color: #985adf;
  border-bottom: 2px solid #985adf;
}

header {
  display: flex;
  font-family: "Inconsolata", monospace;
  height: 800px;
  font-weight: 800;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
header h1, header h2 {
  font-size: 3.5rem;
  padding-left: 10rem;
  line-height: 1;
  text-align: left;
  text-shadow: none;
}
header #name {
  width: 20rem;
  height: 4rem;
  margin-left: 15rem;
  background: none;
  border: none;
  font-size: 3.5rem;
  font-weight: 500;
}
header .header__text {
  height: 400px;
}
header .animate-text {
  visibility: hidden;
}
header .polygons img {
  width: 150px;
}
header .polygons #pol1 {
  position: absolute;
  left: 70%;
  width: 20rem;
  -webkit-animation: rotation 40s infinite linear;
          animation: rotation 40s infinite linear;
}
header .polygons #pol2 {
  position: absolute;
  bottom: 80%;
  left: 20%;
  -webkit-animation: rotation 40s infinite linear;
          animation: rotation 40s infinite linear;
}
header .polygons #pol3 {
  position: absolute;
  top: 70%;
  left: 10%;
  -webkit-animation: rotation 40s infinite linear;
          animation: rotation 40s infinite linear;
}
header .polygons #pol4 {
  position: absolute;
  bottom: 70%;
  left: 50%;
  -webkit-animation: rotation 40s infinite linear;
          animation: rotation 40s infinite linear;
}

.arrow {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 200px;
}
.arrow a {
  width: 20rem;
  height: 7rem;
}
.arrow img {
  width: 20rem;
  height: 7rem;
  -webkit-animation: translate 2s infinite linear;
          animation: translate 2s infinite linear;
}

.aboutme {
  width: 60%;
  margin: auto;
}
.aboutme ul {
  display: flex;
}
.aboutme li {
  font-size: 1.2em;
}
.aboutme h2 {
  text-align: center;
}
.aboutme p {
  font-size: 1.5rem;
  text-align: justify;
}

.skills {
  height: auto;
  width: 60%;
  margin: auto;
}
.skills ul {
  margin-top: 4em;
}
.skills li {
  text-align: left;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.2;
}
.skills h3 {
  text-align: center;
}

/** Indicateurs compétences circulaires **/
.skills-wrapper {
  margin-top: 5em;
  display: flex;
  justify-content: space-around;
}

.skill {
  width: 150px;
  height: 150px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3), -5px -5px -5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  position: relative;
  display: grid;
  place-items: center;
  margin-top: 2rem;
}

.skill::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 5px 5ps 20px rgba(0, 0, 0, 0.3), -5px -5px -5px 20px rgba(0, 0, 0, 0.3);
}

.skill:nth-child(1) {
  background-image: conic-gradient(#985adf 70%, transparent 0);
  color: #985adf;
}

.skill:nth-child(2) {
  background-image: conic-gradient(#985adf 70%, transparent 0);
  color: #985adf;
}

.skill:nth-child(3) {
  background-image: conic-gradient(#985adf 30%, transparent 0);
  color: #985adf;
}

.contentSkill {
  font-size: 2rem;
  z-index: 1;
  text-align: center;
}

.contentSkill span {
  display: block;
  line-height: 1;
  font-weight: 600;
}

.langue {
  width: 100%;
}

.progressBar {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
  height: 1rem;
}

.progressBar__title {
  width: 20rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: right;
  margin-right: 1rem;
  line-height: 0.5;
}

.progressBar__background {
  width: 30rem;
  background-color: #fff;
  box-shadow: 3px 3px 1px #909090;
}
.progressBar__background:hover {
  box-shadow: 2px 2px 1px #909090;
}

.progressBar__bar {
  background-color: #985adf;
  height: 100%;
}

#français {
  width: 100%;
}

#anglais {
  width: 80%;
}

#italien {
  width: 35%;
}

.portfolio {
  height: auto;
  margin: auto;
  width: 80%;
  text-align: center;
}
.portfolio__cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.portfolio__cards--card {
  height: 350px;
  width: 450px;
  background-color: #303030;
  box-shadow: 5px 5px 1px rgb(29, 29, 29);
  border-left: 1px solid;
  border-top: 1px solid;
  -o-border-image: linear-gradient(180deg, #909090, #303030) 1;
     border-image: linear-gradient(180deg, #909090, #303030) 1;
  margin-bottom: 25px;
  cursor: pointer;
  display: block;
}
.portfolio__cards--card:hover {
  box-shadow: 2px 2px 2px rgb(29, 29, 29);
  border-left: 2px solid;
  border-top: 2px solid;
  -o-border-image: linear-gradient(180deg, #985adf, #303030) 1;
     border-image: linear-gradient(180deg, #985adf, #303030) 1;
}
.portfolio__cards--card--img {
  height: 70%;
  padding: 0.5rem;
}
.portfolio__cards--card--text {
  height: 30%;
  background-color: rgba(144, 144, 144, 0.5019607843);
  text-align: left;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.portfolio__overlay {
  width: 600px;
  height: 1000px;
  border-left: 1px solid #fff;
  background-color: #303030;
  z-index: 10;
  position: fixed;
  right: 0;
  text-align: right;
  visibility: hidden;
}
.portfolio__overlay h3 {
  text-align: center;
  margin-top: 0;
}
.portfolio__overlay img {
  padding: 10px;
}
.portfolio__overlay h4 {
  border: 1px solid white;
  border-radius: 5px;
  display: inline-block;
  width: auto;
  padding: 4px;
  margin: 5px;
  background-color: rgba(43, 58, 110, 0.5019607843);
}
.portfolio__overlay p {
  text-align: left;
  padding: 10px;
}
.portfolio__overlay .close {
  text-align: right;
  width: 40px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}
.portfolio__overlay .close img {
  width: 40px;
}
.portfolio__overlay .close img:hover {
  filter: blur(2);
  transform: scale(1.1);
}

.parcours {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
  height: auto;
}

#timeline {
  list-style: none;
  margin: 50px 0 30px 120px;
  padding-left: 30px;
  border-left: 8px solid #fff;
}
#timeline li {
  margin: 40px 0;
  position: relative;
}
#timeline p {
  margin: 0 0 15px;
}

.date {
  margin-top: -10px;
  top: 50%;
  left: -600px;
  font-size: 2em;
  line-height: 20px;
  position: absolute;
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -44px;
  width: 20px;
  height: 20px;
  background: #985adf;
  border: 5px solid #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.content {
  max-height: 20px;
  padding: 50px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
  line-height: 1.2;
}
.content:before, .content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
.content:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
.content:after {
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}
.content p {
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  overflow: hidden;
}

label {
  font-size: 1.3em;
  position: absolute;
  z-index: 9;
  top: 20px;
  width: 100%;
  text-align: left;
  transition: transform 0.2s linear;
  cursor: pointer;
  margin-left: -450px;
}

.radio {
  display: none;
}

.radio:checked + .relative label {
  transform: translateX(5px);
}
.radio:checked + .relative .circle {
  background: #fc01fc;
}
.radio:checked ~ .content {
  height: auto;
  max-height: 180px;
  border-color: #fff;
  margin-right: 20px;
  width: 80%;
  overflow: hidden;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.radio:checked ~ .content p {
  max-height: 200px;
  transition: color 0.3s linear 0.3s;
  color: #fff;
}

.contact {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contact h2 {
  width: 100%;
}
.contact .contactInfo {
  margin-top: 5rem;
  width: 300px;
  text-align: center;
  align-content: center;
  background-color: #303030;
  box-shadow: 5px 5px 1px rgb(29, 29, 29);
  border-left: 1px solid;
  border-top: 1px solid;
  -o-border-image: linear-gradient(180deg, #909090, #303030) 1;
     border-image: linear-gradient(180deg, #909090, #303030) 1;
}
.contact .contactInfo:hover {
  box-shadow: 2px 2px 2px rgb(29, 29, 29);
  border-left: 2px solid;
  border-top: 2px solid;
  -o-border-image: linear-gradient(180deg, #985adf, #303030) 1;
     border-image: linear-gradient(180deg, #985adf, #303030) 1;
}
.contact img {
  width: 200px;
  padding: 1rem;
}
.contact p {
  font-size: 1.4rem;
  width: 300px;
}

footer {
  margin-top: 4rem;
  height: 10rem;
  background-color: #303030;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  * {
    width: 100%;
  }
  body {
    margin: 0;
    width: 100%;
  }
  body h2 {
    font-size: 3.5rem;
    text-shadow: 2px 2px 1px #909090;
  }
  header {
    height: 700px;
  }
  .polygons {
    display: none;
  }
  .header__text {
    padding-left: 4rem;
  }
  .header__text h1, .header__text h2 {
    width: 100%;
    padding: 0;
    font-size: 2.8rem;
    text-shadow: none;
  }
  nav {
    display: none;
  }
  .aboutme {
    width: 80%;
  }
  .skills {
    width: 80%;
  }
  .skills-wrapper {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .langue {
    width: 100%;
  }
  .progressBar__title {
    font-size: 1rem;
  }
  .parcours {
    display: none;
  }
  .portfolio__overlay {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */