@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Space+Mono&display=swap');
@import url(./media.css);
@import url(./keyframes.css);






* {
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Inconsolata', monospace;


}

body {

  background: rgb(49, 66, 125);
  background: linear-gradient(145deg, rgb(72, 41, 107) 5%, rgb(43, 58, 110) 100%);
  margin: 0;
  height: auto;
  color: #fff;
  scroll-behavior: smooth;
  width: 100%;


  h1,
  h2,
  h3 {
    text-align: center;
  }

  h2 {
    font-size: 5rem;
    text-shadow: 3px 3px 1px #909090;
    margin-top: 3em;
  }

  h3 {
    font-size: 3rem;
    text-shadow: 2px 2px 1px #909090;
  }


  button {
    width: 200px;
    border: 1px solid white;
    border-radius: 5px;
    height: 40px;
    animation: scale 4s infinite linear;
    cursor: pointer;
    background-color: #985adf;



    a {
      text-decoration: none;
      font-weight: 600;
      color: #fff;



    }
  }

}



nav {
  width: 100%;
  height: auto;
  position: fixed;

  ul {

    list-style: none;
    text-align: end;


    li {
      display: inline;
      margin-right: 15px;


      a {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.3em;
        font-weight: 600;
        padding-bottom: 7px;



      }

      a:hover {
        color: #985adf;
        border-bottom: 2px solid #985adf;
      }
    }
  }
}


header {
  display: flex;
  font-family: 'Inconsolata', monospace;
  height: 800px;
  font-weight: 800;
  width: 100%;

  flex-direction: column;
  justify-content: center;


  h1,
  h2 {
    font-size: 3.5rem;
    padding-left: 10rem;
    line-height: 1;
    text-align: left;
    text-shadow: none;

  }

  #name {
    width: 20rem;
    height: 4rem;
    margin-left: 15rem;
    background: none;
    border: none;
    font-size: 3.5rem;
    font-weight: 500;



  }

  .header__text {

    height: 400px;
  }

  .animate-text {
    visibility: hidden;



  }


  .polygons {

    img {
      width: 150px;
    }

    #pol1 {

      position: absolute;
      left: 70%;
      width: 20rem;
      animation: rotation 40s infinite linear;




    }

    #pol2 {
      position: absolute;
      bottom: 80%;
      left: 20%;

      animation: rotation 40s infinite linear;

    }

    #pol3 {
      position: absolute;
      top: 70%;
      left: 10%;

      animation: rotation 40s infinite linear;

    }

    #pol4 {
      position: absolute;
      bottom: 70%;
      left: 50%;

      animation: rotation 40s infinite linear;

    }





  }

}

.arrow {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 200px;

  a {
    width: 20rem;
    height: 7rem;
  }

  img {
    width: 20rem;
    height: 7rem;

    animation: translate 2s infinite linear;


  }


}


.aboutme {

  width: 60%;
  margin: auto;


  ul {
    display: flex;


  }

  li {
    font-size: 1.2em;
  }

  h2 {
    text-align: center;
  }

  p {
    font-size: 1.5rem;
    text-align: justify;
  }
}



.skills {
  height: auto;

  width: 60%;
  margin: auto;

  ul {
    margin-top: 4em;
  }

  li {
    text-align: left;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.2;
  }

  h3 {
    text-align: center;
  }
}


/** Indicateurs compétences circulaires **/

.skills-wrapper {
  margin-top: 5em;
  display: flex;
  justify-content: space-around;
}

.skill {
  width: 150px;
  height: 150px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3),
    -5px -5px -5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 50%;

  position: relative;
  display: grid;
  place-items: center;
  margin-top: 2rem;






}



.skill::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;

  background-color: #ffffff;
  box-shadow: 5px 5ps 20px rgba(0, 0, 0, 0.3),
    -5px -5px -5px 20px rgba(0, 0, 0, 0.3);




}

.skill:nth-child(1) {
  background-image: conic-gradient(#985adf 70%, transparent 0);
  color: #985adf;

}

.skill:nth-child(2) {
  background-image: conic-gradient(#985adf 70%, transparent 0);
  color: #985adf;
}

.skill:nth-child(3) {
  background-image: conic-gradient(#985adf 30%, transparent 0);
  color: #985adf;
}



.contentSkill {
  font-size: 2rem;
  z-index: 1;
  text-align: center;

}

.contentSkill span {
  display: block;


  line-height: 1;
  font-weight: 600;
}



//Progress Bar

.langue {
  width: 100%;

}

.progressBar {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
  height: 1rem;


}

.progressBar__title {
  width: 20rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: right;
  margin-right: 1rem;
  line-height: 0.5;


}

.progressBar__background {

  width: 30rem;
  background-color: #fff;
  box-shadow: 3px 3px 1px #909090;

  &:hover {
    box-shadow: 2px 2px 1px #909090;
  }


}

.progressBar__bar {
  background-color: #985adf;
  height: 100%;




}

#français {
  width: 100%;
}

#anglais {
  width: 80%;
}

#italien {
  width: 35%;
}




//Portfolio

.portfolio {
  height: auto;
  margin: auto;
  width: 80%;
  text-align: center;


  &__cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


  }



  &__cards--card {
    height: 350px;
    width: 450px;
    background-color: #303030;
    box-shadow: 5px 5px 1px rgb(29, 29, 29);
    border-left: 1px solid;
    border-top: 1px solid;
    border-image: linear-gradient(180deg, #909090, #303030) 1;
    margin-bottom: 25px;
    cursor: pointer;
    display: block;




  }

  &__cards--card:hover {
    box-shadow: 2px 2px 2px rgb(29, 29, 29);
    border-left: 2px solid;
    border-top: 2px solid;
    border-image: linear-gradient(180deg, #985adf, #303030) 1;


  }

  &__cards--card--img {
    height: 70%;
    padding: 0.5rem;


  }

  &__cards--card--text {
    height: 30%;
    background-color: #90909080;
    text-align: left;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;



  }






}






.portfolio__overlay {
  width: 600px;
  height: 1000px;
  border-left: 1px solid #fff;
  background-color: #303030;
  z-index: 10;
  position: fixed;
  right: 0;
  text-align: right;

  visibility: hidden;

  h3 {
    text-align: center;
    margin-top: 0;
  }

  img {
    padding: 10px;

  }

  h4 {

    border: 1px solid white;
    border-radius: 5px;
    display: inline-block;
    width: auto;
    padding: 4px;
    margin: 5px;
    background-color: #2b3a6e80;
  }

  p {

    text-align: left;
    padding: 10px;
  }

  .close {
    text-align: right;
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;




    img {
      width: 40px;

    }

    img:hover {
      filter: blur(2);
      transform: scale(1.1);
    }


  }



}


.parcours {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
  height: auto;





}


#timeline {
  list-style: none;
  margin: 50px 0 30px 120px;
  padding-left: 30px;
  border-left: 8px solid #fff;

  li {
    margin: 40px 0;
    position: relative;
  }

  p {
    margin: 0 0 15px;
  }
}

.date {
  margin-top: -10px;
  top: 50%;
  left: -600px;
  font-size: 2em;
  line-height: 20px;
  position: absolute;
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -44px;
  width: 20px;
  height: 20px;
  background: #985adf;
  border: 5px solid #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
}



.content {
  max-height: 20px;
  padding: 50px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
  line-height: 1.2;

  &:before,
  &:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
  }

  &:before {
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
  }

  &:after {

    border-width: 17px;
    top: 50%;
    margin-top: -17px;
  }

  p {
    max-height: 0;
    color: transparent;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
    overflow: hidden;
  }
}

label {
  font-size: 1.3em;
  position: absolute;
  z-index: 9;
  top: 20px;
  width: 100%;
  text-align: left;
  transition: transform 0.2s linear;
  cursor: pointer;
  margin-left: -450px;
}

.radio {
  display: none;
}

.radio:checked {
  &+.relative {
    label {

      transform: translateX(5px);
    }

    .circle {
      background: #fc01fc;
    }
  }

  &~.content {
    height: auto;
    max-height: 180px;
    border-color: #fff;
    margin-right: 20px;
    width: 80%;
    overflow: hidden;
    transform: translateX(20px);
    transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;

    p {
      max-height: 200px;
      transition: color 0.3s linear 0.3s;
      color: #fff
    }
  }
}



.contact {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  h2 {
    width: 100%;
  }

  .contactInfo {
    margin-top: 5rem;
    width: 300px;
    text-align: center;
    align-content: center;
    background-color: #303030;

    box-shadow: 5px 5px 1px rgb(29, 29, 29);
    border-left: 1px solid;
    border-top: 1px solid;
    border-image: linear-gradient(180deg, #909090, #303030) 1;


    &:hover {
      box-shadow: 2px 2px 2px rgb(29, 29, 29);
      border-left: 2px solid;
      border-top: 2px solid;
      border-image: linear-gradient(180deg, #985adf, #303030) 1;
    }

  }

  img {
    width: 150px;
    padding: 1rem;
  }

  p {
    font-size: 1.4rem;
    width: 300px;


  }

}


footer {
  margin-top: 4rem;
  height: 10rem;
  background-color: #303030;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;



}