@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Space+Mono&display=swap");
@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes translate {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes translate {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
* {
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
}

body {
  background: rgb(49, 66, 125);
  background: linear-gradient(145deg, rgb(72, 41, 107) 5%, rgb(43, 58, 110) 100%);
  margin: 0;
  height: auto;
  font-family: "Inconsolata", monospace;
  scroll-behavior: smooth;
}

h2 {
  font-size: 5rem;
  color: #fff;
  text-shadow: 3px 3px 1px #909090;
}

h3 {
  font-size: 3rem;
  color: #fff;
  text-shadow: 2px 2px 1px #909090;
}

nav {
  width: 60px;
  height: 1000px;
  border-right: 1px solid #fff;
  background-color: #303030;
  position: fixed;
  display: flex;
}
nav ul {
  margin-top: 50px;
  list-style: none;
  padding-left: 12px;
}
nav ul img {
  width: 35px;
  margin-bottom: 15px;
}
nav ul img:hover {
  filter: blur(0.5px);
  transform: scale(1.1);
}

header {
  display: flex;
  font-family: "Inconsolata", monospace;
  color: #fff;
  height: 800px;
  flex-direction: column;
  justify-content: center;
}
header h1, header h2 {
  font-size: 3.5rem;
  padding-left: 150px;
  line-height: 1;
}
header .animate-text {
  visibility: hidden;
  font-family: "courier", sans-serif;
}
header .polygons img {
  width: 150px;
}
header .polygons #pol1 {
  position: absolute;
  left: 80%;
  -webkit-animation: rotation 30s infinite linear;
          animation: rotation 30s infinite linear;
}
header .polygons #pol2 {
  position: absolute;
  bottom: 80%;
  left: 20%;
  -webkit-animation: rotation 40s infinite linear;
          animation: rotation 40s infinite linear;
}
header .polygons #pol3 {
  position: absolute;
  top: 70%;
  left: 10%;
  -webkit-animation: rotation 40s infinite linear;
          animation: rotation 40s infinite linear;
}
header .polygons #pol4 {
  position: absolute;
  bottom: 70%;
  left: 50%;
  -webkit-animation: rotation 40s infinite linear;
          animation: rotation 40s infinite linear;
}

.arrow {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 200px;
}
.arrow a {
  width: 20rem;
  height: 7rem;
}
.arrow img {
  width: 20rem;
  height: 7rem;
  -webkit-animation: translate 2s infinite linear;
          animation: translate 2s infinite linear;
}

.skills {
  height: 800px;
  text-align: center;
}

.portfolio {
  height: 800px;
  margin: auto;
  width: 80%;
  text-align: center;
}
.portfolio__cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.portfolio__cards--card {
  height: 350px;
  width: 450px;
  background-color: #303030;
  box-shadow: 5px 5px 1px rgb(29, 29, 29);
  border-left: 1px solid;
  border-top: 1px solid;
  -o-border-image: linear-gradient(180deg, #909090, #303030) 1;
     border-image: linear-gradient(180deg, #909090, #303030) 1;
  margin-bottom: 25px;
  cursor: pointer;
  display: block;
}
.portfolio__cards--card:hover {
  box-shadow: 2px 2px 2px rgb(29, 29, 29);
  border-left: 2px solid;
  border-top: 2px solid;
  -o-border-image: linear-gradient(180deg, #985adf, #303030) 1;
     border-image: linear-gradient(180deg, #985adf, #303030) 1;
}
.portfolio__cards--card--img {
  height: 70%;
  padding: 0.5rem;
}
.portfolio__cards--card--text {
  height: 30%;
  background-color: rgba(144, 144, 144, 0.5019607843);
  color: #fff;
  text-align: left;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.portfolio__overlay {
  width: 600px;
  height: 1000px;
  border-left: 1px solid #fff;
  background-color: #303030;
  z-index: 10;
  position: fixed;
  right: 0;
  text-align: right;
  visibility: hidden;
}
.portfolio__overlay h3 {
  text-align: center;
  margin-top: 0;
}
.portfolio__overlay img {
  padding: 10px;
}
.portfolio__overlay h4 {
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
  display: inline-block;
  width: auto;
  padding: 4px;
  margin: 5px;
  background-color: rgba(43, 58, 110, 0.5019607843);
}
.portfolio__overlay p {
  color: #fff;
  text-align: left;
  padding: 10px;
}
.portfolio__overlay .close {
  text-align: right;
  width: 40px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}
.portfolio__overlay .close img {
  width: 40px;
}
.portfolio__overlay .close img:hover {
  filter: blur(2);
  transform: scale(1.1);
}

.parcours {
  text-align: center;
  color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
  font-size: 100%;
  height: 1000px;
}

#timeline {
  list-style: none;
  margin: 50px 0 30px 120px;
  padding-left: 30px;
  border-left: 8px solid #fff;
}
#timeline li {
  margin: 40px 0;
  position: relative;
}
#timeline p {
  margin: 0 0 15px;
}

.date {
  margin-top: -10px;
  top: 50%;
  left: -600px;
  font-size: 2em;
  line-height: 20px;
  position: absolute;
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -44px;
  width: 20px;
  height: 20px;
  background: #985adf;
  border: 5px solid #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.content {
  max-height: 20px;
  padding: 50px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
}
.content:before, .content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
.content:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
.content:after {
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}
.content p {
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  overflow: hidden;
}

label {
  font-size: 1.3em;
  position: absolute;
  z-index: 9;
  top: 20px;
  left: -275px;
  transition: transform 0.2s linear;
}

.radio {
  display: none;
}

.radio:checked + .relative label {
  cursor: auto;
  transform: translateX(42px);
}
.radio:checked + .relative .circle {
  background: #985adf;
}
.radio:checked ~ .content {
  max-height: 180px;
  border-color: #fff;
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.radio:checked ~ .content p {
  max-height: 200px;
  color: #fff;
  transition: color 0.3s linear 0.3s;
}/*# sourceMappingURL=style.css.map */